<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Enquete minor web</title>

        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/Icons/Favicon.png" />
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <header>
        <h1><b>Enquete Resultaten</b></h1>
        <h2>Minor Web</h2>
        <h4>Bedankt voor het invullen van de Enquete!</h4>
        <ul>
            <li><a href="#Wafs">1</a></li>
            <li><a href="#css">2</a></li>
            <li><a href="#pwa">3</a></li>
            <li><a href="#bt">4</a></li>
        </ul>
    </header>
    <body>
            <h2>Studentnummer: <%- studentennummer %></h2>
            <h2>Naam: <%- naam %></h2>
        <section id="Wafs">
            <h3>Webapps from scratch</h3>
            <p><b>Docent - beoordeling:</b> <%- docentwafs %></p>
            <p><b>Wafs inzichten:</b> <%- answerwafs %></p>
            <p><b>Wafs week:</b> <%- weekwafs %></p>
            <p><b>Wafs lesstof:</b> <%- wafslesstof1 %></p>
            <p><b>Wafs uitleg:</b> <%- wafslesstof2 %></p>
            <p><b>Wafs beoordeling:</b> <%- wafsbeoordeling %></p>
        </section>
        <section id="css">
            <h3>CSS to the rescue</h3>
            <p><b>CSS week:</b> <%- weekcss %></p>
            <p><b>CSS lesstof: </b><%- csslesstof1 %></p>
            <p><b>CSS uitleg: </b><%- csslesstof2 %></p>
            <p><b>CSS beoordeling:</b> <%- cssbeoordeling %></p>
            <p><b>CSS inzichten: </b><%- answercss %></p>
            <p><b>Docent - beoordeling:</b> <%- docentcss %></p>
        </section>
        <section id="pwa">
            <h3>Progressive Webapps</h3>
            <p><b>Docent - beoordeling:</b> <%- docentpwa %></p>
            <p><b>PWA week: </b><%- weekpwa %></p>
            <p><b>PWA lesstof:</b> <%- pwalesstof1 %></p>
            <p><b>PWA uitleg:</b> <%- pwalesstof2 %></p>
            <p><b>PWA beoordeling:</b> <%- pwabeoordeling %></p>
            <p><b>PWA inzichten:</b> <%- answerpwa %></p>
        </section>
        <section id="bt">
            <h3>Browser technologies</h3>
            <p><b>Docent - beoordeling:</b> <%- docentbt %></p>
            <p><b>BT week:</b> <%- weekbt %></p>
            <p><b>BT lesstof:</b> <%- btlesstof1 %></p>
            <p><b>BT uitleg:</b> <%- btlesstof2 %></p>
            <p><b>BT beoordeling:</b> <%- btbeoordeling %></p>
            <p><b>BT inzichten:</b> <%- answerbt %></p>
        </section>
            <button><a href="/">Reset</a></button>
        </form>
        <script src="/cookie.js"></script>
    </body>
    <footer></footer>
</html>
