<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Enquete minor web</title>

        <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/Icons/Favicon.png" />
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <header>
        <h1><b>Enquete Resultaten</b></h1>
        <h2>Minor Web</h2>
        <h4>Bedankt voor het invullen van de Enquete!</h4>
        <ul>
            <li><a href="#Wafs">1</a></li>
            <li><a href="#css">2</a></li>
            <li><a href="#pwa">3</a></li>
            <li><a href="#bt">4</a></li>
        </ul>
    </header>
    <body>
            <h2>Studentnummer: <%- studentennummer %></h2>
            <h2>Naam: <%- naam %></h2>
        <section id="Wafs">
            <h3>Webapps from scratch</h3>
            <p>Docent - beoordeling: <%- docentwafs %></p>
            <p>Wafs week: <%- weekwafs %></p>
            <p>Wafs lesstof: <%- wafslesstof1 %></p>
            <p>Wafs uitleg: <%- wafslesstof2 %></p>
            <p>Wafs beoordeling: <%- wafsbeoordeling %></p>
            <p>Wafs inzichten: <%- answerwafs %></p>
        </section>
        <section id="css">
            <h3>CSS to the rescue</h3>
            <p>Docent - beoordeling: <%- docentcss %></p>
            <p>CSS week: <%- weekcss %></p>
            <p>CSS lesstof: <%- csslesstof1 %></p>
            <p>CSS uitleg: <%- csslesstof2 %></p>
            <p>CSS beoordeling: <%- cssbeoordeling %></p>
            <p>CSS inzichten: <%- answercss %></p>
        </section>
        <section id="pwa">
            <h3>Progressive Webapps</h3>
            <p>Docent - beoordeling: <%- docentpwa %></p>
            <p>PWA week: <%- weekpwa %></p>
            <p>PWA lesstof: <%- pwalesstof1 %></p>
            <p>PWA uitleg: <%- pwalesstof2 %></p>
            <p>PWA beoordeling: <%- pwabeoordeling %></p>
            <p>PWA inzichten: <%- answerpwa %></p>
        </section>
        <section id="bt">
            <h3>Browser technologies</h3>
            <p>Docent - beoordeling: <%- docentbt %></p>
            <p>BT week: <%- weekbt %></p>
            <p>BT lesstof: <%- btlesstof1 %></p>
            <p>BT uitleg: <%- btlesstof2 %></p>
            <p>BT beoordeling: <%- btbeoordeling %></p>
            <p>BT inzichten: <%- answerbt %></p>
        </section>
    
        

            <button><a href="/">Reset</a></button>
        </form>
        <script src="/cookie.js"></script>
    </body>
    <footer></footer>
</html>
